@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  font-family: inherit;
}

.full-width {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.el-popper {
  max-width: 400px;
}

.el-space {
  &--horizontal {
    .el-space__item {
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  &--vertical {
    .el-space__item {
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
