@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: inherit;
}

.full-width {
  width: 100%;
}

.el-popper {
  max-width: 400px;
}
